@use "../../styles/variables" as *;

.place {
	width: 300px;
	color: var(--color-main);

	&-title {
		margin-bottom: $size-m;
	}

	&-info {
		opacity: 0.5;
	}

	&-description {
		margin-bottom: $size-s;
	}

	&-action {
		margin-top: $size-xxl;
		display: flex;
		justify-content: space-between;

		button {
			margin: 0 $size-xxs $size-xxs 0;
		}
	}
}

@media (min-width: 768px) {
	.place {
		width: 430px;
	}
}
