@use "../../styles/variables" as *;

.button {
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	border: 1px solid;
	padding: $size-xs $size-l;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: $size-s;
	color: var(--color-main);

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.primary {
	border-color: $color-accent-hover;
	transition: all 0.3s;
}

.primary:hover {
	box-shadow: 3px 3px 1px $color-accent-hover;
}

.icon {
	width: 40px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-primary {
	@extend .icon;
	background: $color-accent-hover;
	border-color: $color-accent-hover;

	svg {
		stroke: var(--color-bg);
	}
}

.icon-secondary {
	@extend .icon;
	border-color: var(--color-main-secondary);

	svg {
		stroke: var(--color-main-secondary);
	}
}

.icon-tertiary {
	@extend .icon;
	border-color: transparent;

	svg {
		stroke: var(--color-main-secondary);
	}
}

.secondary {
	border-color: var(--color-main-secondary);
	transition: all 0.3s;
}

.secondary:hover {
	box-shadow: 3px 3px 1px var(--color-main-secondary);
}
