@use "../../styles/variables" as *;

.button {
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	border: 1px solid;
	padding: $size-xs $size-l;
	height: 40px;
	display: flex;
	align-items: center;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.primary {
	border-color: $color-accent-hover;
  transition: all 0.3s;
}

.primary:hover {
	box-shadow: 3px 3px 1px rgb(246, 140, 67);
}

.icon {
	width: 40px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  background: $color-accent-hover;
  border-color: $color-accent-hover;

	svg {
		stroke: $color-light;
	}
}
