@use "variables" as *;

* {
	font-family: $font-main;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: $size-xs;
}

h1,
h2,
h3 {
	font-family: $font-heading;
	font-weight: 500;
	color: var(--color-main);
}

a {
	text-decoration: none;
	color: var(--color-main);
}

body {
	background-color: var(--color-bg);
	padding: $size-xs;
}
