/* font */
$font-heading: "Montserrat Underline", sans-serif;
$font-main: "Manrope", sans-serif;

/* color */
$color-light: rgb(255, 255, 255);
$color-dark: rgb(51, 51, 51);
$color-dark-opacity: rgba(51, 51, 51, 0.1);
$color-dark-secondary: rgba(51, 51, 51, 0.8);

$color-accent: rgb(241, 181, 125);
$color-accent-hover: rgb(223, 118, 48);

/* size */
$size-xxs: 4px;
$size-xs: 6px;
$size-s: 10px;
$size-m: 16px;
$size-l: 20px;
$size-xl: 24px;
$size-xxl: 32px;
