/* font */
$font-heading: "Montserrat Underline", sans-serif;
$font-main: "Manrope", sans-serif;

/* color */
$color-accent: rgb(241, 181, 125);
$color-accent-hover: rgb(223, 118, 48);

/* size */
$size-xxs: 4px;
$size-xs: 6px;
$size-s: 10px;
$size-m: 16px;
$size-l: 20px;
$size-xl: 24px;
$size-xxl: 32px;
