@use "../../styles/variables" as *;

.menuContainer {
	width: 40px;
	height: 40px;
	background: $color-accent-hover;
	cursor: pointer;
	border: 1px solid $color-accent-hover;

	svg {
		stroke: $color-light;
	}
}

.menuItems {
	background-color: $color-light;
	box-shadow: 0 0 10px $color-darck-opacity;
	border: 1px solid $color-darck-opacity;
	width: calc(100vw - 12px);
	right: $size-xs;
	top: 85px;
	position: absolute;
	padding: $size-m;

	@media (min-width: 767px) {
		width: 325px;
	}
}

.menuItem {
	position: relative;
	display: flex;
	font-size: 16px;
	gap: $size-s;
	align-items: flex-end;
	margin-bottom: $size-xxl;
	transition: all 0.3s;
	color: inherit;
	text-decoration: none;

	svg {
		transition: all 0.3s;
	}

	&::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 0;
		background-color: $color-accent-hover;
		left: 0;
		bottom: -10px;
		transition: width 0.3s;
	}
}

.menuItem:hover {
	color: $color-accent-hover;

	svg {
		stroke: $color-accent-hover;
	}

	&::after {
		width: 100%;
	}
}
