@use "../../styles/variables" as *;

.field {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: $size-xl;

	&-wrapper {
		border: 1px solid $color-dark-opacity;
		position: relative;
		display: flex;
		margin-top: $size-s;
		height: 40px;
		padding-left: $size-xs;

		&-pass {
			width: calc(100% - 40px);
			border: none;

			&:focus-visible {
				outline: none;
			}
		}

		&-error {
			border-color: red;
		}

		button {
			width: 40px;
			height: 40px;
			border: none;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			cursor: pointer;
		}

		&:has(&-pass:focus-visible) {
			outline: 2px solid $color-accent-hover;
		}
	}

	&-label {
		opacity: 0.7;
	}

	&-input {
		height: 40px;
		font-size: 16px;
		border: 1px solid $color-dark-opacity;
		padding: $size-xs;
		margin-top: $size-s;

		&-error {
			border-color: red;
		}

		&:focus-visible {
			outline-color: $color-accent-hover;
		}
	}

	&-error {
		font-size: 12px;
		color: red;
		margin-top: $size-xxs;
		position: absolute;
		bottom: -16px;
	}
}
